name: Publish to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    environment: release
    permissions:
      id-token: write # IMPORTANT: this permission is mandatory for trusted publishing

    steps:
    - uses: actions/checkout@v5
    - run: rm -rf .venv __pycache__
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Install dependencies
      run: |
        pip install --upgrade pip
        # pipx install hatch
        pip install -m install hatch
        hatch --version # Verify that Hatch is installed
        # pip install virtualenv
        pip show virtualenv
    - name: Build package
      run: hatch build
    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@v1.13.0
